body{
    background-color: bisque;
}
input{
    margin: 5px;
}
input[type=text]:focus{
    background-color: aquamarine;
}
label{
    display: block;
    width: 100px;
}
/*1.küldés középen
2. 2 oszlop*/